name: release version

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    steps:
      - uses: actions/checkout@v2
        with:
          # needed for the license header check
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: mvn clean install
      # - name: Release
      #   uses: qcastel/github-actions-maven-release@master
      #   env:
      #     JAVA_HOME: /usr/lib/jvm/java-11-openjdk/
      #     SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      #     GITREPO_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     release-branch-name: "main"
      #     version-minor: true
      #     maven-project-folder: ./java
      #     maven-args: "-DskipTests -Dmaven.deploy.skip=false -Dspotbugs.skip=true -Dpmd.skip=true -Ddependency-check.skip=true -Dlicense.skip=true"
      #     ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     maven-repo-server-id: github
      #     maven-repo-server-password: ${{ secrets.GITHUB_TOKEN }}